.sidebar {
  min-height: calc(100vh - 70px);
  background: #191c24;
  font-weight: normal;
  padding: 0;
  width: 244px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar .sidebar-brand-wrapper {
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  background: #191c24;
  width: 244px;
  height: 70px;
}
.sidebar .sidebar-brand-wrapper .sidebar-brand {
  color: #38425e;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: 0rem 0rem 0rem 1.3rem;
  width: 100%;
}
.sidebar .sidebar-brand-wrapper .sidebar-brand {
  color: #38425e;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: 0rem 0rem 0rem 1.3rem;
  width: 100%;
}
.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini {
  display: none;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 60px;
  padding-top: 70px;
}
.sidebar .nav .nav-item.profile {
  padding-right: 0px;
}
.sidebar .nav .nav-item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
  padding-right: 20px;
}
.sidebar .nav .nav-item.profile .profile-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.17rem;
  line-height: 1.25;
}
